<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/gameshop.png">
  

  <title>Login</title>

  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="css/elegant-icons-style.css" rel="stylesheet" />
  <link href="css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet" />

</head>

<body class="login-img3-body">

  <div class="container">
      
    <p>Delete this</p>
      
    <form class="login-form" th:action="@{/login}" method="post">
	    <div style="text-align:center; font-size:20px; color:green; font-weight:bold">  
	    	<span th:text="${message}"></span> 
		</div>
        
      <div class="login-wrap">
        <p class="login-img"><i class="fa fa-gamepad"></i></p>
        <span th:text="${param.error != null ? 'Wrong credentials' : ''}">Search Query</span>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="Username" name="username" autofocus autocomplete="off" minlength="3" required>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
          <input type="password" class="form-control" placeholder="Password" name="password" pattern=".{3,}" title="Password must contain 3 or more characters." required>
        </div>
        
        <button class="btn btn-danger btn-lg btn-block" type="submit">Login</button>
        <a class="btn btn-warning btn-lg btn-block" th:href="@{/register}">Register</a>
      </div>
    </form>

  </div>
</body>

</html>
