<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="img/gameshop.png">


        <title>Games</title>

        <!-- Bootstrap CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- bootstrap theme -->
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <!--external css-->
        <!-- font icon -->
        <link href="css/elegant-icons-style.css" rel="stylesheet" />
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <!-- Custom styles -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/style-responsive.css" rel="stylesheet" />
    </head>

    <body>
       <!-- container section start -->
        <section id="container" class="">
            <!--header start-->

            <header class="header dark-bg">
                <div class="toggle-nav">
                    <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
                </div>

                <!--logo start-->
                <a th:href="@{/index}" class="logo" color="#00C851">Game <span color= "#bf0808">Shop</span></a>
                <!--logo end-->


                <div class="top-nav notification-row">
                    <a th:href="@{/cart-items}" class="btn btn-info btn-lg"><i class="fa fa-shopping-cart"></i>    <span th:text="${'Items: ' + shoppingCart.size()}"></span> </a>
                    <!-- notificatoin dropdown start-->
                    <ul class="nav pull-right top-menu">

                        <!-- user login dropdown start-->
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="username" th:text="${#authentication.getPrincipal().getUsername()}">Guest</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <div class="log-arrow-up"></div>
                                <li>
                                    <a th:href="@{/logout}"><i class="fa fa-sign-out"></i> Log Out</a>
                                </li>
                            </ul>
                        </li>
                        <!-- user login dropdown end -->
                    </ul>
                    <!-- notificatoin dropdown end-->
                </div>
            </header>
            <!--header end-->

            <!--sidebar start-->
            <aside>
                <div id="sidebar" class="nav-collapse ">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu">
                        <li class="">
                            <a class="" th:href="@{/index}">
                                <i class="fa fa-github-alt"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="">
                            <a class="" th:href="@{/}">
                                <i class="fa fa-gamepad"></i>
                                <span>Games</span>
                            </a>
                        </li>
                        <li>
                            <a class="" th:href="@{/studios}">
                                <i class="fa fa-users"></i>
                                <span>Studios</span>
                            </a>
                        </li>
                        <li>
                            <a class="" th:href="@{/genres}">
                                <i class="fa fa-book"></i>
                                <span>Genres</span>

                            </a>
                        </li>
                        <li>
                            <a class="" th:href="@{/platforms}">
                                <i class="fa fa-steam"></i>
                                <span>Platforms</span>

                            </a>
                        </li>

                    </ul>
                    <!-- sidebar menu end-->
                </div>
            </aside>
            <!--sidebar end-->

            <!--main content start-->
            <section id="main-content">
                <section class="wrapper">
                     <header class="panel-heading">
                        <!-- page start-->
                        <h3><i class="fa fa-list-ul"></i> Shopping Cart</h3>
                    </header> 
                    <br>
                    <p><a class="btn btn-success" href="/"><i class="fa fa-arrow-circle-o-left"></i> Continue shopping</a></p><br>  
                 
                    <table class="table table-hover table-advance table-bordered">
                        <thead>
                            <tr>
<!--                                <th>ID</th>-->
                               <th>Image</th>
                               <th>Game Title</th>
                               <th>Price</th>
                               <th>Platform</th>
                               <th>Quantity</th>
                               <th>Sub-Total</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="cart:${shoppingCart}">
                                <td><img th:src="@{${cart.game.pictureUrl}}" height=40 width=40> </a></td>
                                <td><a th:href="@{/details/{id}(id=${cart.game.id})}" + th:text="${cart.game.name}" ></a></td>
                                <td th:text="${cart.game.price + ' ' + '$'}"></td>
                                <td  th:text="${cart.game.platform.name}"></td> 
                           
                            <form action="/cart-items/update" method="post">
                                  <td><input type="number" name="quantity" th:value="${cart.quantity}" min="1"/>
                                  <button class="btn btn-success btn-sm btn-custom" type="submit"><i class="fa fa-check"></i></button></td>
                                   <input type="hidden" th:value="${cart.id}" name="id"/>
                            </form> 
                                   
                                <td th:text="${cart.game.price * cart.quantity + ' ' + '$'}" style="font-weight:bold"></td>
                                <td> <a class="btn btn-danger" th:href="@{/cart-items/delete/(id=${cart.id})}" onclick="return confirm('Are you sure you want to remove this game from cart?');"><i class="fa fa-times"></i> Delete</a></td>
<!--                        <form th:action="@{/cart-items/games/{id}/delete(id=${cart.id})}" method="POST">
                            <td>
                                <button class="btn btn-danger btn-sm btn-delete"
                                        onclick="return confirm('Are you sure you want to remove this item from cart?');">
                                    <i class="fa fa-times"></i></button>
                            </td>
                        </form>--> 
                            </tr>   
                    </tbody>                      
                    </table>
                   
              
                    <br><hr>
                    <div class="col-md-2" style="float: right">
                        <div class="card mb-2">                          
                            <div class="card-body">
                                <ul class="list-group list-group-flush">                                
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                        
                                        <div><strong>  <div th:text="${'Total amount: ' + totalPrice + '$'}">Some text here...</div> </strong></div>
                                        
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    
<!--                  <button type="button" class="btn btn-primary btn-lg">Go to checkout </button>-->
                
                    <!-- page end-->
                </section>
            </section>
        </section>
        <!-- container section end -->
    
        <!-- javascripts -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- nice scroll -->
        <script src="js/jquery.scrollTo.min.js"></script>
        <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
        <!--custome script for all page-->
        <script src="js/scripts.js"></script>


    </body>

</html>
